<html>
<head>
</head>
<body>
<div id="header">
  <h3>Welcome <%= current_user.name %></h3>
  <h8 style="text-align: right;"><a href="/users">Edit Profile</a> | <a href="/reservations">Logout</a></h8>
</div>

<div id="main-content">
  <center><img src="../assets/logo.gif" style="width:100px; height:100px;" /></h3></center>
  <center><button id="reserveButton" onclick="toggleViewBookings1()">Reserve a Room</button>
    <button id="viewButton" style="background-color:transparent;color:black;" onclick="toggleViewBookings2()">View Bookings</button>
  </center>
  <hr>

  <div id="reserve">
    <br>
    <form method='post' action = '/member/reserve'>
    <center><h7><strong>Building Name:</strong> <select name="building" id="building">
      <option value="hunt">James B. Hunt Jr. Library</option>
      <option value="hill">D. H. Hill Library</option>
    </select>
      <br><br>
      <center><h7><strong>Booking Date:</strong> <input type="date" id="txtDate" /></h7></center>
      <br>
      <center><h7><strong>Size of the Room:</strong> <select name="size" id="size">
        <option value="4">4 Chairs</option>
        <option value="6">6 Chairs</option>
        <option value="8">8 Chairs</option>
      </select>

      </h7></center>
      <br>
      <center><h7><strong>Start Time:</strong> <select name="start" id="start">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
        &nbsp;&nbsp;<h7><strong>End Time:</strong> <select name="end" id="end">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
        &nbsp;&nbsp;<select name="ampm"><option value="am">am</option><option value="pm">pm</option></select></h7></h7></center>

      <br>
      <center><h7><strong>Available Rooms:</strong> <select name="roomno" id="roomno">

      </select>
        <br><br>
        <div>
        <center><button>Search</button><button type="submit">Reserve</button></center>
        </div>
      </form>
  </div>

  <div id="viewbookings">
    <br>
    <center><h7><strong>Current Bookings</strong></h7></center>
    <br><br>
    <center><h7><strong>Past Bookings</strong></h7></center>
  </div>

</div>


</body>

</html>

<script type="text/javascript">
  function toggleViewBookings1()
  {
    document.getElementById('viewbookings').style.display = 'none';
    document.getElementById('reserve').style.display = 'block';
    document.getElementById('reserveButton').style.backgroundColor = '#CB4335';
    document.getElementById('reserveButton').style.color = 'white';
    document.getElementById('viewButton').style.backgroundColor = 'transparent';
    document.getElementById('viewButton').style.color = 'black';
  }

  function toggleViewBookings2()
  {
    document.getElementById('viewbookings').style.display = 'block';
    document.getElementById('reserve').style.display = 'none';
    document.getElementById('reserveButton').style.backgroundColor = 'transparent';
    document.getElementById('reserveButton').style.color = 'black';
    document.getElementById('viewButton').style.backgroundColor = '#CB4335';
    document.getElementById('viewButton').style.color = 'white';
  }



</script>


<style>
  #main-content{
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    float: left;
  }

  #signup-content{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    float: left;
    display: none;
  }
  body{
    background-image: url("../assets/mainwall.jpg");
  }
  h3{
    font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: -1px;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 2rem;
    color: #CB4335;
    margin-bottom: 20px;
  }

  h7{
    font-size: 1.2rem;
  }

  input[type="text"] {
    width: 30%;
    display: inline-block;
    border: 1px solid maroon;
    border-radius: 2px;
    font-family: 'Courier';
    font-size: 1rem;
    padding: 2px 2px 2px 5px;
  }

  input[type="date"] {
    width: 30%;
    display: inline-block;
    border: 1px solid maroon;
    border-radius: 2px;
    font-family: 'Courier';
    font-size: 1rem;
    padding: 2px 2px 2px 5px;
  }

  input[type="password"] {
    width: 30%;
    display: inline-block;
    border: 1px solid maroon;
    border-radius: 2px;
    font-family: 'Courier';
    font-size: 1rem;
    padding: 2px 2px 2px 2px;
  }

  button{
    width: 30%;
    background-color: #CB4335;
    color: white;
    font-size: 1.2rem;
    padding: 2px 2px 2px 2px;
    border: 1px solid black;
  }

  h8{
    text-align: right;
    font-size: 1.2rem;
  }

  #header, #footer {
    position: fixed;
    width: 100%;
    z-index: 20;
  }

  #header {
    top: 0;
    height: 5em;
    margin-left: 10%;
  }

  #footer {
    bottom: 0;
    height: 3em;
  }

  select{
    border: 1px solid maroon;
    border-radius: 2px;
    font-family: 'Courier';
    font-size: 1rem;
  }

  #reserve{
    display: block;
  }

  #viewbookings{
    display: none;
  }

  hr {
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #CB4335;
  }

</style>

