body {
  background-color: white;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
   background-image: url("../assets/mainwall.jpg");
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: transparent;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

input[type="text"] {
    width: 100%;
    display: inline-block;
    border: 1px solid maroon;
    border-radius: 5px;
    font-family: 'Courier';
    font-size: 1rem;
    padding: 5px 5px 5px 5px;
    height: 15px;
    padding-left: 10px;
}

input[type="email"] {
    width: 100%;
    display: inline-block;
    border: 1px solid maroon;
    border-radius: 5px;
    font-family: 'Courier';
    font-size: 1rem;
    padding: 5px 5px 5px 5px;
    height: 15px;
    padding-left: 10px;
}

input[type="password"] {
    width: 100%;
    display: inline-block;
    border: 1px solid maroon;
    border-radius: 5px;
    font-family: 'Courier';
    font-size: 1rem;
    padding: 5px 5px 5px 5px;
    height: 15px;
    padding-left: 10px;
}

input[type="submit"]{
    width: 40%;
    background-color: #fff;
    color: black;
    font-size: 1.2rem;
    padding: 2px 2px 2px 2px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="submit"]:hover{
  background-color: #cb4335;
  color: white;
}
